* {
    box-sizing: border-box;
}

body {

    font-family: 'Work Sans';

}

h1 {

    text-align: center;
    font-size: 1.6rem;

}

/* * * * * * * * * * * * * * * * * * * */
/* = = = = = GENERAL  LAYOUT = = = = = */
/* * * * * * * * * * * * * * * * * * * */

.limited-width {

    max-width: 620px;
    margin: 0 auto;

}

.expanded-width {

    max-width: 800px;
    margin: 0 auto;

}

/* * * * * * * * * * * * * * * * * * * */
/* = = = = = = =  TEXT = = = = = = = = */
/* * * * * * * * * * * * * * * * * * * */

.highlight {

    padding: .2em .4em;
    border-radius: 5px;
    border: 2px solid black;
    background-color: khaki;

}

/* * * * * * * * * * * * * * * * * * * */
/* = = = = = = SELETOR = = = = = = = = */
/* * * * * * * * * * * * * * * * * * * */

select { 
    
    padding: .5em 1em;
    margin-bottom: 1rem;
    font-family: 'Work Sans';
    font-size: 1rem;
    border: 3px solid hotpink;
    border-radius: 5px;

}

select:focus-visible {

    outline: 2px solid hotpink;
}

/* * * * * * * * * * * * * * * * * * * */
/* = = = = = =  CANVAS = = = = = = = = */
/* * * * * * * * * * * * * * * * * * * */

canvas {

    width: 100%;
    height: 400px;

    outline : 4px solid #333;

}

/* * * * * * * * * * * * * * * * * * * */
/* = = = = = =  LABELS = = = = = = = = */
/* * * * * * * * * * * * * * * * * * * */

.canvas-container {

    position: relative;
    height: 400px;

}

.chart-label {

    position: absolute;
    margin: 0;

}

.axis-label {

    font-size: .8em;
    display: flex;
    flex-direction: column;

}

.x-axis-label {
    bottom : 0;
    text-align: right;
    padding-bottom: .2rem;
    justify-content: flex-end;
}

.y-axis-label {
    top : 0;
    text-align: left;
    padding-bottom: .5em;
    justify-content: flex-end;
    
}

.axis-ticks-values-x {

    bottom: 0;
    transform: translate(-50%, -50%);
    font-size: .6rem;

}

.legenda-cor {

    display: flex;
    position: absolute;
    bottom: 0;
    padding-bottom: .2rem;
    --font-size-legenda-cor: .7em;
    align-items: center;

}

.legenda-cor-entrada {

    display: flex;
    margin-right: .5rem;
    align-items: center;

}

.legenda-cor-entrada-key {

    border-radius: 50%;
    width: var(--font-size-legenda-cor);
    height: var(--font-size-legenda-cor);
    margin-right: .25rem;
    opacity: .8;

}

.legenda-cor-entrada-texto {

    font-size: var(--font-size-legenda-cor);

}